@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400;1,500&display=swap');

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}
@media (min-width: 768px) {
    .custom-element {
      color: var(--primary);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
  display: flex;
  height: 270vh;
  background:linear-gradient(to bottom left,#5bd059, #f77bb9);
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 800px;
  background: rgba(72, 72, 72, 0.5);
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 2px gray;
}

.addEmployee{
  opacity: 100%;
}

.forAdd{
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.tosub{
  width: 46.5rem;
  height: 3rem;
  background-color: #f77bb9;
  color: white;
  border-radius: 10px;
  border-style: none;
  font-weight: bolder;
}

.tosub:hover{
  color: white;
  background-color: #428e41;
}

.detailCat h3{
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 5px;
  font-style: italic;
  color: white;
}
 
.empStat{
  color: white;
  margin-left: 0px!important;
}

.deets{
  margin-bottom: 10px;
  padding: 0 10px;
  font-weight: 300;
  border: 1px solid black;
}

.add label{
  font-weight: 300;
  margin-left: 10px;
}

.deets2{
  margin-bottom: 10px;
  padding: 0 10px;
  height: 34px;
  font-weight: 300;
  border: 1px solid black;
}

hr{
  border: 1px solid blanchedalmond;
}

@media(max-width: 780px){
  body{
    height: 395vh;
  }
  .tosub{
    width: 24rem;
  }
}

@media(max-height: 400px){
  body{
    height: 700vh;
  }
}
