@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Pathway+Gothic+One&display=swap');
@import url(https://unpkg.com/open-props/open-props.min.css);
  @import url(https://unpkg.com/open-props/normalize.min.css);

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}
@media (min-width: 768px) {
    .custom-element {
      color: var(--primary);
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

   background-color: white;
   background: var(--gray-12);
   place-items: center;
}
.intro{
    height: 100vh;
    background:linear-gradient(to bottom left,#5bd059, #f77bb9); 
}
/* nav-bar */
main {
  width: 100%;
}
ul {
  padding: 0;
  display: inline-grid;
  grid-auto-flow: column;
  list-style-type: none;
  grid-template-columns: auto repeat(3, calc((var(--active, 0) * 130px) + 10px));
  transition: grid-template-columns 0.35s var(--ease-elastic-1);
}
li {
  display: grid;
  justify-content: end;
  z-index: calc(var(--count) - var(--index));
}

nav {
  position: relative;
}

nav > button {
  position: absolute;
  left: 0;
  background: red;
  z-index: var(--count);
}

.icn {
  background: hsl(330, 89%, 73%);
  display: inline-block;
  padding: var(--size-2) var(--size-4);
  border-radius: var(--radius-5);
  margin: 0;
  color: var(--gray-0);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-0);
  backdrop-filter: blur(40px);
  transition: color 0.2s, background 0.2s;
 
}

.icn:visited {
  color: var(--gray-0);
}

svg {
  height: 24px;
  aspect-ratio: 1;
  fill: currentColor;
}

span {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 16px 1fr;
  gap: 0.25rem;
}

li:is(
  :nth-of-type(2),
  :nth-of-type(3),
  :nth-of-type(4)
) span {
  opacity: var(--active, 0);
}

li:is(
  :nth-of-type(2),
  :nth-of-type(3),
  :nth-of-type(4)
) a:is(:hover, :focus) {
  background: var(--gray-0);
  color: var(--gray-12);
}

a:focus-visible {
  outline-color: transparent;
}
.btn-lo:focus-visible{
  outline-color: transparent;
}

ul:is(:focus-within, :hover) {
  --active: 1;
}